{% extends "base.html" %}
{% block title %} Skate Blog {% endblock %}
{% block content %}

    <!-- Menu -->
    <header id="header" class="alt">
        <div class="logo"><a href="{% url 'index' %}">Skate blog <span></span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Header-->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>About us</p>
                <h2>The best place for skaters</h2>
            </header>
        </div>
    </section>

    <!-- About us -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <p><b>Welcome to [Skate blog], the hub for skaters by skaters</b></p><br>
                        <h3>Who we are</h3>
                    </header>
                    <p>We are a group of passionate skateboarders who live and breathe the skateboarding lifestyle. At [Skate], we know the thrill of cruising down the streets, the satisfaction of landing a new trick, and the sense of community that comes with being a skater. We created this platform to share our love for skateboarding with others who feel the same way.</p>
                    <header class="align-center">
                        <h3>What We Do</h3>
                    </header>
                    <p>At [Skate blog], we bring you the most exciting, up-to-date content from the world of skateboarding:</p>

                    <p><b>Skater Posts:</b> Get to know your fellow skaters! We feature posts from skaters of all levels and styles, sharing their stories, experiences, and favorite tricks. Whether you’re a seasoned pro or a newbie, there’s something for everyone to enjoy and learn.</p>
                        
                    <p><b>Competition News:</b> Stay informed about the latest skateboarding competitions around the world. From local contests to international championships, we've got you covered with updates, results, and behind-the-scenes insights.</p>
                        
                    <p><b>Skate Spots:</b> Discover the best spots to skate, both locally and globally. Our team and community members contribute insights about the coolest skate parks, street spots, and hidden gems where you can unleash your skills and creativity.</p>
                    
                    <header class="align-center">
                        <h3>Join Our Community</h3>
                    </header>
                    <p>Vivamus ultricies mollis mauris quis molestie. Quisque eu mi velit. In et cursus nibh. Donec facilisis, orci sed mollis hendrerit, nunc risus mattis odio, eget efficitur nisl orci a lectus. Aenean finibus neque convallis orci sollicitudin tincidunt. Vivamus lacinia facilisis diam, quis facilisis nisi luctus nec. Aliquam ac molestie enim, ut ultrices elit. Fusce laoreet vulputate risus in tincidunt. Sed commodo mollis maximus. Nullam varius laoreet nibh sit amet facilisis. Donec ac odio vehicula, consequat elit et, sodales justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ac auctor mauris, in hendrerit libero. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Ending -->
    <section id="four" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p></p>
                <h2>Happy skating, and welcome to the [Skate blog] family!</h2>
            </header>
        </div>
    </section>

    <!-- Footer -->
	<footer id="footer" style="background-color: #ffc107;">
		<div class="container">
		  <ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		  </ul>
		</div>
    </footer>
    
{% endblock %}  
