{% extends "base.html" %}
{% block title %} Skate Blog {% endblock %}
{% block content %}

    <!-- Menu -->
    <header id="header" class="alt">
        <div class="logo"><a href="{% url 'index' %}">Skate blog <span></span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Header-->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Privacy Policy</p>
                <h2>The best place for skaters</h2>
            </header>
        </div>
    </section>

    <!-- Política de Privacidad en Inglés -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <p><b>Privacy Policy</b></p>
                    <p>Effective Date: 02/10/2023</p>

                    <p><b>1. General Information</b></p>
                    <p>1.1. Blog Skate (hereinafter referred to as "We" or "Our") is the data controller for the personal data of users of this website.</p>
                    <p>1.2. Our contact address is Paseo de la Castellana 89, and our contact email is hello@immune.institute.</p>

                    <p><b>2. Collection of Personal Data</b></p>
                    <p>2.1. We collect personal data when users register on our website, complete forms, interact with our services, or provide us with information in other ways.</p>
                    <p>2.2. The types of personal data we may collect include, among others:</p>
                    <ul>
                        <li>Contact information (name, email address, phone number).</li>
                        <li>Registration information (username, password).</li>
                        <li>Payment information (if applicable, e.g., for billing monthly subscription fees).</li>
                    </ul>
                    
                    <p><b>3. Use of Personal Data</b></p>
                    <p>3.1. We use personal data for the following purposes:</p>
                    <ul>
                        <li>Processing subscriber registrations.</li>
                        <li>Providing access to exclusive content.</li>
                        <li>Allowing user interaction in the forum and comments.</li>
                        <li>Billing monthly fees (if applicable).</li>
                    </ul>
                    <p>3.2. We will not share personal data with third parties without the user's consent unless we are legally obligated to do so.</p>

                    <p><b>4. Data Security</b></p>
                    <p>4.1. We have implemented technical and organizational security measures to protect the personal data of our users against loss, unauthorized access, and other risks.</p>

                    <p><b>5. User Rights</b></p>
                    <p>5.1. Users have rights regarding their personal data, including the right to access, rectify, delete, object to processing, and request data portability. To exercise these rights, users can contact us at hello@immune.institute.</p>

                    <p><b>6. Changes to the Privacy Policy</b></p>
                    <p>6.1. We may update this Privacy Policy at any time. An updated version will be published on our website.</p>

                    <p><b>7. Contact</b></p>
                    <p>7.1. If users have any questions about this Privacy Policy or our data processing practices, they can contact us at hello@immune.institute.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Ending -->
    <section id="four" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p></p>
                <h2>Happy skating, and welcome to the [Skate blog] family!</h2>
            </header>
        </div>
    </section>

{% endblock %}