{% extends "base.html" %}
{% load static %}
{% block title %} Skate Blog {% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/specific/profile.css' %}">
{% endblock %}
{% block content %}

<!-- Menu -->
<header id="header" class="alt">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img style="width: 40px; height: 40px;" src="{% static "images/posts/logo_skateblog.png" %}">
            <span></span>
        </a>
    </div>
    <a href="#menu">Menu</a>
</header>

<!-- Header-->
<section id="two" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>Profile</h2>
        </header>
    </div>
</section>

<!-- Your provided HTML content goes here -->
<section class = "profile_background">
<div class="student-profile py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center">
                        <img class="profile_img" src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static 'images/profile/no_photo.jpg' %}{% endif %}" alt="{{ user.username }}'s profile picture">
                        <h3>{{ user.username }}</h3>
                        <button class="edit-profile-button" onclick="window.location.href='{% url 'edit_profile' %}'">Edit Profile</button>
                    </div>
                    <div class="card-body">
                        <p class="mb-0"><strong class="pr-1">Username:</strong>{{ user.username }}</p>
                        <p class="mb-0"><strong class="pr-1">Gender:</strong>{{ user.get_genero_display }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card shadow-sm">    
                    <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                    </div>
                    <div class="card-body pt-0">
                        <table class="table table-bordered">
                            <tr>
                                <th width="30%">Direccion</th>
                                <td width="2%">:</td>
                                <td>{{ user.direccion }}</td>
                            </tr>
                            <tr>
                                <th width="30%">City</th>
                                <td width="2%">:</td>
                                <td>{{ user.ciudad }}</td>
                            </tr>
                            <tr>
                                <th width="30%">Country</th>
                                <td width="2%">:</td>
                                <td>{{ user.pais }}</td>
                            </tr>
                            <tr>
                                <th width="30%">Email</th>
                                <td width="2%">:</td>
                                <td>{{ user.email }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="height: 26px"></div>
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>About Me</h3>
                    </div>
                    <div class="card-body pt-0">
                        <p>{{ user.about_me }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
